<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>车来货往</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
    <style type="text/css">
        .tel{
            display: block;
            color:#ff0000;
            font-size: 16px;
        }
        p{
            font-size: 14px;
            line-height: 2;
        }
    </style>
</head>
    <body>
        <div style='text-align:center;margin-top: 40%;'>
            <p>您的帐号已被封禁，</p>
            <p>有任何问题可致电平台客服电话进行咨询</p>
            <a href="tel:17647023442" class="tel">17647023442</a>
        </div>
    </body>
</html>
