<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>身份验证</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
    <style>
        body{background: #f7f7f7}
        * {
            font-family: PingFang SC
        }

    </style>
</head>
<body>
<div class="wrap">
    <div class="card_head">身份验证</div>
    <ul class="title_ul">
        <li>
            <a href="{:U('Deliver/regist')}" class="goods_t">
                成为货主
                <span>去申请</span>
            </a>
        </li>
        <li>
            <a href="{:U('Carowner/regist')}" class="cars_t">
                成为车主
                <span>去申请</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>