<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>协议及声明</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
    <style>
        .sever{text-align: center;padding: 20px 0;}
        .sever-p{padding:0 10px;font-size: 14px;line-height: 2;}
        .sever-p p{text-indent: 20px;}
        .wrong{color:#f00;}
        dt{font-size: 16px;font-weight: 600;}
        dd{text-indent: 20px;}
        dd>h3{font-size: 14px;}
        ul{margin-left: 20px;}
    </style>
</head>
<body>
<div class="wrap">
    <h3 class="sever">“车来货往”用户服务协议</h3>
    <div class="sever-p">
        <p>欢迎您阅读“车来货往”用户服务协议 (以下简称“本协议”) 。本协议是您与车来货往信息服务平台（包含车来货往网站、微信公众
            号、移动端APP）的所有者杭州壹泽科技有限公司及其关联公司之间就车来货往提供的信息服务等相关事宜所订立的合约或合同。
        </p>
        <p>
            “车来货往”按照本协议的规定提供基于互联网的相关服务(以下称“网络服务”) 。
            为获得网络服务，服务使用人(以下称“用户”) 应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。
            用户在进行注册程序过程中勾选“我已阅读并同意《服务协议》”并点击【注册】按钮注册成功后，即成为车来货往的正式会员，
            本协议即构成了对双方具有法律约束力的文件。
        </p>
        <dl>
            <dt>一、定义</dt>
            <dd>
                车来货往信息服务平台，为提供及维护信息发布的服务平台。
                其为平台注册用户（信息发布方和接收方）<span class="wrong">免费</span>提供信息中介管理服务，为用户发布和搜索物流信息提供便利与支持。
            </dd>
            <dd>
                用户，包含注册用户和非注册用户。注册用户是指通过车来货往网站、微信公众号或移动端APP完成全部注册程序后，使用车来货往平台服务的用户。
                非注册用户是指未进行注册、直接登录车来货往网站、微信公众号或移动端APP使用车来货往平台服务的用户。
            </dd>
            <dd>
                信息发布方，是指在车来货往信息服务平台上创建、发布物流信息、车辆信息、服务信息的平台注册用户。
            </dd>
            <dd>
                信息接受方，是指在车来货往信息服务平台上浏览、搜索已发布的信息寻求者。
            </dd>
        </dl>
        <dl>
            <dt>二、协议的效力</dt>
            <dd>
                1、在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他车来货往允许的方式实际使用车来货往平台服务时，
                您即受本协议的约束。在注册时，您应当按照法律法规要求，或注册页面的提示，准确填写并及时更新您提供的联系人姓名、联系电话、联系地址、
                上传相关的证件相片等，完善注册用户信息和个人中心资料，以便车来货往或其他客户与您进行有效联系。如您的资料发生变更，您应及时更新您的资料，
                以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不真实、过时或不完整的，车来货往有权向您发出询问并要求改正的通知，
                并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。由此导致您在使用车来货往平台服务过程中产生任何损失或者其他费用，应由您完全独自承担
            </dd>
            <dd>
                2、对于您提供的资料及数据信息，您授予车来货往独家的、全球通用的、永久的、免费的许可使用权利。
                您同意，车来货往有权(全部或部分地)使用、复制、更正、发布、翻译、分发、
                执行和展示您的资料数据（包括但不限于注册资料、行为数据及全部展示于车来货往平台的各类信息）或制作其派生作品，
                并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。
            </dd>
            <dd>
                3、您应当在使用车来货往平台服务之前认真阅读全部协议内容。
                如您对协议有任何疑问的，应向车来货往咨询。但无论您事实上是否在使用车来货往平台服务之前认真阅读了本协议内容，
                只要您使用车来货往平台服务，则本协议即对您产生约束，
                届时您不应以未阅读本协议的内容或者未获得车来货往对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
            </dd>
            <dd>
                4、 本协议内容包括协议正文及所有车来货往已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何车来货往及其关联公司提供的服务均受本协议约束。
                您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用车来货往平台服务。
            </dd>
            <dd>
                5、本平台可根据实际情况全权决定修订本协议。如本协议有变更,将在网站上刊裁公告,通知予您。经修订的条款一经在本平台公布,立即生效。您继续登录或使用本平台表示接受受修订的“条款”。
            </dd>
        </dl>
        <dl>
            <dt>三、注册</dt>
            <dd>
                1、 您确认，在您完成注册程序或以其他车来货往允许的方式实际使用车来货往平台服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您应承担因此而导致的一切后果，且车来货往有权注销您的用户名等一切相关连的资料和信息。
            </dd>
            <dd>
                2、 车来货往非常重视对个人或公司资料信息搜集和使用的安全性的保护。车来货往建议，任何未满18周岁的未成年人参加网上活动应事先取得其监护人的同意并遵守。
            </dd>
            <dd>
                3、 在您签署本协议，完成注册程序时，车来货往会向您提供唯一编号的车来货往用户名<span class="wrong">（手机号码）</span>。您应对您的用户名和密码的安全，以及对通过您的用户名和密码实施的行为负责。除非有法律规定或行政司法机关的指令，且征得车来货往的同意，否则，用户名和密码不得以任何方式转让、赠与或继承（与用户名相关的财产权益除外）。如果发现任何人不当使用您的用户名或有任何其他可能危及您的用户名安全的情形时，您应当立即以有效方式通知车来货往，要求车来货往暂停相关服务。您理解车来货往对您的请求采取行动需要合理时间，车来货往对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。 
            </dd>
            <dd>
                4、 注册及使用车来货往平台的过程中，您应根据需要注册的用户选项（包括“发货方”、“司机方”），进行实名认证并上传个人或公司法人身份证件、个人头像图片、车辆图片、车牌号、车辆发动机号码、车架号码等真实信息（如个人资料有任何变动,必须及时更新），由车来货往对您上传的信息进行表面的形式审核。您同意并理解车来货往仅能对上传者的行为是否合法正当、信息是否真实有效进行表面的形式审核，车来货往没有能力和权限对您提供的信息进行实质性的审核，车来货往的审核结果有可能会因您不正当的行为方式出现与实际的事实情况不一致的情形。在此您保证您会严格保管您的车来货往用户名、密码及个人身份证件，并保证不会使用他人或伪造的身份证件用于自身的实名认证，否则由此产生的全部不利责任将全部由您自身承担。
            </dd>

        </dl>
        <dl>
            <dt>四、服务内容 </dt>
            <dd>
                1、“车来货往”平台网络服务的具体内容由”车来货往”平台根据实际情况提供。“车来货往”平台保留变更、中断或终止部分或全部网络服务的权利。
            </dd>
            <dd>
                2、“车来货往”平台在提供网络服务时,可能会对部分使用网络服务(例如可以査询一些重要信息、增值服务等)的用户收取一定的费用。在此情况下,  “车来货往”平台会在相关页面上做明确的提示。如用户拒绝支付该费用,则不能使用相关的网络服务。
            </dd>
            <dd>
                3、“车来货往”平台仅提供相关的网络服务,除此之外与相关网络服务有关的设备（如电脑、调制解调器及其它与控入互联网有关的装置)及所需的费用（如为接入互联网而支付的电话费及上网费)均应由用户自行负担。
            </dd>

        </dl>
        <dl>
            <dt>五、内容所有权</dt>
            <dd>
                “车来货往”平台提供的网络服务内容可能包括: 货源信息、车源信息、汽配经销商信息、维修站信息、行业资讯、物流企业介绍等。所有这些内容受版权、商标和其它财产所有权法律的保护。
            </dd>
            <dd>
                用户只有在获得“车来货往”平台或其他相关权利人的授权之后才能使用这些内容,而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
            </dd>
        </dl>
        <dl>
            <dt>六、使用规则 </dt>
            <dd>
                <h3>1、 通过车来货往平台，您可以按照车来货往的规则发布各种物流信息、车辆信息、服务信息等。但所发布之信息不得含有如下内容：</h3>
                <ul>
                    <li>1)煽动抗拒、破坏宪法和法律、行政法规实施的； </li>
                    <li>2)煽动颠覆国家政权，推翻社会主义制度的；</li>
                    <li>3)煽动分裂国家、破坏国家统一的；</li>
                    <li>4)煽动民族仇恨、民族歧视，破坏民族团结的； </li>
                    <li>5)捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</li>
                    <li>6)宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</li>
                    <li>7)公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</li>
                    <li>8)损害国家机关信誉的；</li>
                    <li>9)其他违反宪法和法律法规的；</li>
                </ul>
                <h3>2、在接受车来货往服务的过程中，您不得从事下列行为：</h3>
                <ul>
                    <li>1）发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容，包含病毒、木马、定时炸弹等可能对车来货往系统造成伤害或影响其稳定性的内容制造虚假身份以误导、欺骗他人；</li>
                    <li>2）传送或散布以其他方式实现传送含有受到知识产权法律保护的图像、相片、软件或其他资料的文件，作为举例（但不限于此）：包括版权或商标法（或隐私权或公开权），除非用户拥有或控制着相应的权利或已得到所有必要的认可；</li>
                    <li>3）使用任何包含有通过侵犯商标、版权、专利、商业机密或任何一方的其他专有权利的方式利用本“软件”获得的图像或相片的资料或信息；</li>
                    <li>4）进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；</li>
                    <li>5）修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；</li>
                    <li>6）在未经车来货往书面明确授权前提下，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，无论以上使用是否为直接经济或金钱收益；</li>
                    <li>7） 违背车来货往页面公布之活动规则，包括但不限于发布虚假信息、作弊或通过其他手段进行虚假交易。</li>
                </ul>
                <h3>3、在车来货往平台上使用车来货往服务过程中，您承诺遵守以下约定：</h3>
                <ul>
                    <li>1)在使用车来货往平台服务过程中实施的所有行为均遵守国家法律、法规等规范文件及车来货往各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保车来货往免于因此产生任何损失。</li>
                    <li>2)不发布国家禁止发布的信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。</li>
                    <li>3)不对车来货往上的任何数据作商业性利用，包括但不限于在未经车来货往事先书面同意的情况下，以复制、传播等任何方式使用车来货往网站上展示的资料。</li>
                    <li>4)不使用任何装置、软件或例行程序干预或试图干预车来货往网的正常运作或正在车来货往网上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸车来货往网网络设备的行动。</li>
                    <li>5）不得利用“车来货往”平台网络服务进行任何不利于“车来货往”平台的行为。</li>
                </ul>
                <h3>4、您了解并同意：</h3>
                <ul>
                    <li>1)您违反上述承诺时，车来货往有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知予您。</li>
                    <li>2)根据相关法令的指定或者车来货往服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议条款的，车来货往有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务。</li>
                    <li>3)对于您在车来货往网上实施的行为，包括您未在车来货往网上实施但已经对车来货往及其用户产生影响的行为，车来货往有权单方认定您行为的性质及是否构成对本协议或规则的违反，并据此采取相应的处理措施。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。</li>
                    <li>4)对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保车来货往免于承担因此产生的损失或增加的费用。</li>
                    <li>5)如您涉嫌违反有关法律或者本协议之规定，使车来货往遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿车来货往因此造成的损失及（或）发生的费用，包括合理的律师费用。</li>
                    <li>6）同意车来货往有权应政府部门（包括司法及行政部门）的要求，向其提供您在车来货往平台填写的注册信息和发布纪录等必要信息。</li>
                    <li>7）同意接受“车来货往”平台通过电子邮件或其他方式向用户发送的商品促销或其他相关商业信息。</li>
                    <li>8）同意接受“车来货往”平台扫描用户计算机内的某些特定信息,使“车来货往”平台知悉客户端软件是否遭受到被篡改、攻击或者其他任何可能导致用户使用“车来货往”平台发生错误行为。</li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt> 七、责任范围和责任限制</dt>
            <dd>
                1、车来货往负责向您提供车来货往平台服务。但车来货往对车来货往平台服务不作任何明示或暗示的保证，包括但不限于车来货往平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，车来货往也不对车来货往平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。
            </dd>
            <dd>
                2、您理解并接受：车来货往作为信息发布、服务平台，无法控制每条信息内容的真实性或准确性。您应自行谨慎判断确定相关信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。任何信息资料，取决于用户自己并由其承担系统受损或资料丢失的所有风险和责任。
            </dd>
            <dd>
                3、您同意在发现本网站任何内容不符合法律规定，或不符合本用户协议规定的，您有义务及时通知车来货往。如果您发现您的个人信息被盗用，或者您的版权或者其他权利被侵害，请将此情况告知车来货往并同时提供如下信息和材料：
            </dd>
            <ul>
                <li>1)侵犯您权利的信息的网址，编号或其他可以找到该信息的细节；</li>
                <li>2)您是所述的版权或者其他权利的合法拥有者的权利证明；</li>
                <li>3)您的联系方式，包括联系人姓名，地址，电话号码和电子邮件；</li>
                <li>4)您的身份证复印件、营业执照等其他相关资料。经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，您可以通过客服电话先行告知，我们会视情况采取相应措施。</li>
            </ul>
            <dd>
                4、您了解并同意，车来货往不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 ：
                <ul>
                    <li>1) 使用或未能使用车来货往服务；</li>
                    <li>2) 第三方未经批准的使用您的用户名或更改您的数据；</li>
                    <li>3) 通过车来货往网上浏览、搜索的信息而产生的费用及损失；</li>
                    <li>4) 您对车来货往服务的误解；</li>
                    <li>5) 任何非因车来货往的原因而引起的与车来货往服务有关的其它损失；</li>
                </ul>
            </dd>
            <dd>
                5、车来货往对下列不可抗力行为免责：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务。
            </dd>
            <dd>
                6、车来货往作为信息服务平台，不对用户任何线下行为负责，任何因为浏览、搜索车来货往平台提供的信息而产生的费用、损失及伤害，由用户自行承担，请您谨慎对待任何线下行为活动。
            </dd>
            <dd>
                7、您应当严格遵守本协议及车来货往发布的其他协议、活动规则，因您违反协议或规则的行为给第三方、或车来货往造成损失的，您应当承担全部责任。
            </dd>
        </dl>
        <dl>
            <dt>八、隐私权政策</dt>
            <dd>
                1、车来货往将在车来货往平台公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。
            </dd>
            <dd>
                2、你知悉并认可：车来货往可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本网站同等的保护用户隐私的责任，则车来货往有权将用户的注册资料等提供给该第三方。另外，在不透露单个用户隐私资料的前提下，车来货往有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
            </dd>
            <dd>
                3、为保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。对此您表示理解和认同。
            </dd>
        </dl>
        <dl>
            <dt>九、服务变更、中断或终止</dt>
            <dd>
                1、如因系统维护或升级的需要而需暂停网络服务，“车来货往”平台将尽可能事先进行通告。
            </dd>
            <dd>
                2、如发生下列任何一种情形,  “车来货往”平台有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户:
                <ul>
                    <li>a)用户提供的个人数据不真实；</li>
                    <li>b)用户违反本协议中规定的使用规则。</li>
                </ul>
            </dd>
            <dd>
                除前款所述情形外, “车来货往”平台同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利。对所有因服务的中断或终止而造成的任何损失, “车来货往”平台无需对用户或任何第三方承担任何责任。
            </dd>
            <dd>
                3、车来货往基于平台服务的安全性，有权中止向您提供部分或全部车来货往平台服务，暂时冻结您的用户名，待安全问题解决后及时恢复，并对中止、冻结及恢复的事实及时通知。如果网站的安全问题是由于您的违法行为引起，车来货往有终止向您提供部分或全部车来货往平台服务，永久冻结（注销）您的用户名，并有权向您对损失进行索赔。
            </dd>
            <dd>
                4、您有权向车来货往要求注销您的用户名，经车来货往审核同意的，车来货往注销您的用户名，届时，您与车来货往基于本协议的合同关系即终止。您的用户名被注销后，车来货往没有义务为您保留或向您披露您用户名中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。
            </dd>
            <dd>
                5、您与车来货往的协议关系终止后，车来货往仍享有下列权利：
                <ul>
                    <li>1) 继续保存您未及时删除的注册信息及您使用车来货往服务期间发布的所有信息至法律规定的记录保存期满。</li>
                    <li>2）您在使用车来货往服务期间存在违法行为或违反本协议的行为的，车来货往仍可依据本协议向您主张权利。</li>
                </ul>
            </dd>
        </dl>
    </div>

</div>
</body>
</html>