<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>车来货往管理平台</title>
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/asDatepicker.css">
</head>
<body>
<div class="">
    <header class="header">
        <div class="logo fl">
            <img src="__PUBLIC__/images/logo.png">
            <p>车来货往管理平台</p>
        </div>
        <div class="user-status fr">
            <span class="user"><img src="__PUBLIC__/images/icon_name.png">{$username}</span>
            <span class="signOut"><a href="/admin/login/signout"><img src="__PUBLIC__/images/icon_quit.png">退出</a></span>
        </div>
    </header>